
<div class="midslot">
<h2>About</h2>
<p>
This application is to serve as prototype application for NASA Space Apps Challenge 2015
</p>

<h2>Purpose</h2>
<p>
Can You See' is an mobile/desktop application akin to 'Tinder' but target for assisting NASA in identifying special occurrences on earth by utilising power of crowds. Earth-view images used on the application are from NASA’s satellite imagery API, GIBS. 'Score' points are given to players that are spotting event in each image by swiping left or right. Subsequently, volunteer project observers check only those priority images and decide the signal and mass-reward players with 'Reward' points.
</p>

<h2>Quick Start</h2>
<div style="max-width:300px;text-align:center">
<img class="ui image fluid" src="/quickstart.jpg"/>
</div>


<h2>For Volunteer Commmunity Observer</h2>
<div style="max-width:300px;text-align:center">
<img class="ui image fluid" src="/rewardplayer.jpg"/>
</div>


<h2>Score And Reward</h2>
<div style="max-width:300px;text-align:center">
<img class="ui image fluid" src="/scorereward.jpg"/>
</div>



</div>
