<script src="/jquery.js" ></script>
<script src="/parallax.js" ></script>

<h3>Play this game and help us spot special event and contributes to NASA</h3>

<!--
<img src="fire.jpg"  class="ui fluid image  " alt="wildfires burning">

<img src="volcano.jpg"  class="ui fluid image " alt="volcano erupting">

<img src="ice.jpg"  class="ui fluid image  " alt="icebergs cracking">
-->

<div style="background-image: url('/fire_size.jpg');" class="parallax-section pCont 3ddiv">
  <div style="font-size:4em;color:white;text-align:right;padding-right:0.5em;text-shadow:0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);">Wildfires Burning</div>
</div>

<div style="background-image: url('/volcano_size.jpg');" class="parallax-section pCont 3ddiv">
  <div style="font-size:4em;color:white;text-align:right;padding-right:0.5em;text-shadow:0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);">Volcano erupting</div>
</div>


<div style="background-image: url('/ice_size.jpg');" class="parallax-section pCont 3ddiv">
  <div style="font-size:4em;color:white;text-align:right;padding-right:0.5em;text-shadow:0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);">Icebergs cracking</div>
</div>

<script>

$('.parallax-section').parallax({
speed : 0.05
});



</script>
