<div class="midslot">


  <div class="gwt-HTML ui animated list" >
    <h3 itemprop="name">Top players</h3>
    <div class="item">
      <a tabindex="0" role="button" class="header">
        <img src="https://data.nasa.gov/api/assets/101AE2CD-4D6B-45E2-B2D6-30B36F639398" class="ui avatar image">User A

        <div style="padding:0.2em" class="inblock">
            <div class="ui blue tag label">Score: 0</div>
            <div class="ui blue tag label">Reward: 0</div>
        </div>
      </a>
    </div>


    <div class="item">
      <a tabindex="0" role="button" class="header">
        <img src="https://data.nasa.gov/api/assets/101AE2CD-4D6B-45E2-B2D6-30B36F639398" class="ui avatar image">User A

        <div style="padding:0.2em" class="inblock">
            <div class="ui blue tag label">Score: 0</div>
            <div class="ui blue tag label">Reward: 0</div>
        </div>
      </a>
    </div>


    <div class="item">
      <a tabindex="0" role="button" class="header">
        <img src="https://data.nasa.gov/api/assets/101AE2CD-4D6B-45E2-B2D6-30B36F639398" class="ui avatar image">User A

        <div style="padding:0.2em" class="inblock">
            <div class="ui blue tag label">Score: 0</div>
            <div class="ui blue tag label">Reward: 0</div>
        </div>
      </a>
    </div>




</div>
