<div class="midslot">


  <div class="gwt-HTML ui animated list" >
    <h3 itemprop="name">Top players</h3>


    <% for(var i=0; i<result.length; i++) {%>

       <div class="item" style="margin-bottom:0.5em">
         <a tabindex="0" role="button" class="header">

           <% if (result[i].thumbnailUrl) { %>
             <img src="<%= result[i].thumbnailUrl %>" class="ui avatar image">

           <% } else { %>
             <img src="/avatar.jpg" class="ui avatar image">
           <% } %>

           <%= result[i].displayName %>
           <div style="padding:0.2em" class="inblock">
               <div class="ui blue tag label">Score: <%= result[i].score %></div>
               <div class="ui blue tag label">Reward: <%= result[i].reward %></div>
           </div>
         </a>
       </div>

   <% } %>



   <div>
     The score is based on player engagement in this game. Reward points are awarded based on whether player found an event during image swiping.
   </div>


</div>
