<div class="midslot">

<div style="text-align:center">
	<h3>Login with existing social network</h3>
	<a title="google" tabindex="0" role="button" rel="nofollow" id="googleLogin" class="ui google plus button" href="<%= routes.googleAuth %>">
		 <i class="google plus icon"></i> Google </a>

	<a title="facebook" tabindex="0" role="button" rel="nofollow" id="facebookLogin" class="ui facebook button" href="<%= routes.facebookAuth %>">
		<i class="facebook icon"></i> Facebook </a>

	<h3>Or</h3>


	<form method="post" class="ui form" style="text-align:left">
		<% if (message.length > 0) { %>
			<div><%= message %></div>
		<% } %>
		<input type="hidden" name="_csrf" value="<%= token %>">
		<div>
				<label for="username">Username</label>
				<input type="text" role="textbox" tabindex="0" id="username" placeholder="username" name="username">
		</div>
		<div>
				<label for="password">Password</label>
				<input type="password" role="textbox" tabindex="0" id="password" placeholder="password" name="password">
		</div>
		<div style="margin-top:1em">
		<button class="ui primary button" role="button" tabindex="0" >Login</button>
	</div>
</div>
</form>


</div>
</div>
