<script src="/jquery.js" ></script>


<form method="post" class="midslot" id='playswap'>
  <input type="hidden" name="_csrf" value="<%= token %>">
  <input type="hidden" name="ans" id="ans"/>
  <input type="hidden" name="link" id="link" value="<%= link %>"/>


<img src="<%= link %>" class="ui fluid image" alt="Swipe left or right">

<div style="text-align:center">
  <h2>Can you see Volcano eruption?</h2>
</div>


<div class="ui active" style="position:relative ">
<div class="actions">


<div class="inblock" style="padding:0.2em">
  <div class="ui blue tag label">Score: 0</div>
  <div class="ui blue tag label">Reward: 0</div>
</div>
      <button class="ui black button" id='nopeb'>
        Nope
      </button>
      <button class="ui positive right labeled icon button" id='yesb'>
        Yes
        <i class="checkmark icon"></i>
      </button>
      <div>
        Swipe left mean no, swipe right mean yes
    </div>
    </div>



</div>


</form>


<script>




  $(function(){

    $('#nopeb').click(function () {
        $('#ans').val('no');
    });

    $('#yesb').click(function () {
        $('#ans').val('yes');
    });


  $("#playswap").swipe( {
      swipe:function(event, direction, distance, duration, fingerCount, fingerData) {

        if(direction == 'left')
            $('#nopeb').click();
        else if(direction == 'right')
                $('#yesb').click();


      }
    });
  });



</script>
