<div class="midslot">

<div class="ui form">
    <div>
        <div>
            <div>
            	<form method="post">
            		<% if (message.length > 0) { %>
            			<div><%= message %></div>
            		<% } %>
            		<input type="hidden" name="_csrf" value="<%= token %>">
                <div>
                    <label for="username">Username</label>
                    <input role="textbox" tabindex="0"  type="text" class="form-control" id="username" placeholder="username" name="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input role="textbox" tabindex="0"  type="password" class="form-control" id="password" placeholder="password" name="password">
                </div>
                <div style="margin-top:1em">
                <button class="ui primary button" role="button" tabindex="0" >Register</button>
              </div>
            </div>
        	</form>
        </div>
    </div>
</div>
</div>
